<div id="enc-pane">
  <div class="hidden">
    Key: <span id="enc-key"></span>
    IV:  <span id="enc-iv"></span>
  </div>
  <div id="share-box">
    <div id="label-button">
      <label for="secret-url"><%= t :share_link %>:</label>
      <div class="tooltip">
        <button id="copy-button" >
          <span class="tooltiptext" id="myTooltip" data-text="<%= t :copy_clipboard %>" data-copied="<%= t :copied_clipboard %>"><%= t :copy_clipboard %></span>
          <svg id="copy-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
         </svg>
        </button>
      </div>
    </div>
    <input type="text" class="textinput hidden" readonly id="secret-url">
    <p><%= t :secret_destroy %>.</p>
    <a id="another-secret" href="/"><%= t :create_another %></a>
  </div>
</div>

<div id="enc-form">
  <form>
    <textarea id="message" name="bin[payload]" rows="15" cols="40" placeholder="<%= t :payload_placeholder %>" required maxlength="<%= max_msg_length %>"></textarea>
    <div id="msg-counter"></div>
    <div id="retention-pane">
      <label for="retention"><%= t :delete_label %>: </label>
      <select name="retention" id="retention">
        <option value="10080">7 <%= t :days %></option>
        <option value="4320">3 <%= t :days %></option>
        <option value="1440">1 <%= t :day %></option>
        <option value="720">12 <%= t :hours %></option>
        <option value="240">4 <%= t :hours %></option>
        <option value="60">1 <%= t :hour %></option>
        <option value="30">30 <%= t :minutes %></option>
        <option value="5">5 <%= t :minutes %></option>
      </select>
    </div>
    <div id="additional-password">
      <fieldset>
      <input type="checkbox" id="has_password" name="has_password">
      <label for="has_password"><%= t :additional_password %></label>
      <div id="additional-password-field">
        <input type="password" id="add-password" class="textinput"  placeholder="<%= t :enter_additional_password %>" size="40">
        <button type="button" id="togglePassword" title="Mask/Unmask password">
          <svg id="eyeopen" class="" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="24" height="24">
            <path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
            </path>
          </svg>

          <svg id="eyeclosed" class="hidden" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="24" height="24">
            <path fill="currentColor" d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z">
            </path>
          </svg>
        </button>
      </div>
      </fieldset>
    </div>
    <input id="create-secret" type="submit" value="<%= t :create %>">
  </form>
</div>
<script src="<%= javascript_path 'encrypt' %>"></script>
