<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="<%= html_meta_description(custom: settings.custom.dig(:meta_description), content: settings.custom.dig(:meta_description_string)) %> ">
    <meta name="keywords" content="<%= html_meta_keywords(custom: settings.custom.dig(:meta_keywords), content: settings.custom.dig(:meta_keywords_string)) %> ">
    <meta name="author" content="aha-oida">
    <meta name="authenticity_token" content="<%= @authenticity_token %>">

    <title><%= html_title(custom:settings.custom['html_title'], content: settings.custom['html_title_string']) %></title>
    <link rel="stylesheet" type="text/css" href="<%= stylesheet_path 'application' %>" />
    <% if settings.custom[:stylesheet] %>
      <link rel="stylesheet" type="text/css" href="<%= stylesheet_path 'custom' %>" />
    <% end %>

    <%#= csp_meta_tag %>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
  <div
    id="error-messages"
    data-decryption-error="<%= t :decryption_error %>"
  ></div>
  <div id="main" class="flex-container col-5">
    <div id="logo"></div>
    <div id="titlebar">
      <h1>
        <a href="<%= settings.url %>">
          AHA-Secret
          <svg id="lock" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 32 32"><title>bas135 - Regular</title><g id="bas135"><g id="Regular-8" data-name="Regular"><path d="M26.5,12H24V8.5a8.5,8.5,0,0,0-17,0V12H4.5A1.5,1.5,0,0,0,3,13.5v17A1.5,1.5,0,0,0,4.5,32h22A1.5,1.5,0,0,0,28,30.5v-17A1.5,1.5,0,0,0,26.5,12ZM10,8.5a5.5,5.5,0,0,1,11,0V12H10ZM25,29H6V15H25ZM13,20.5a2.5,2.5,0,1,1,4,1.989V24.5a1.5,1.5,0,0,1-3,0V22.489A2.489,2.489,0,0,1,13,20.5Z"/></g></g></svg>
        </a>
      </h1>
      <p><%= t :description %></p>
    </div>
    <!-- Content -->
    <div id="alertbox">
      <span id="alert" class="error-msg"></span>
    </div>

    <div id="content" class="flex-container">
      <%= yield %>
    </div>
    <script src="<%= javascript_path 'application' %>"></script>
    <footer id="footer">
      <%= footer_content(custom:settings.custom['footer'], content: settings.custom['footer_string']) %>
    </footer>
  </div>
</body>
</html>
