<%# TODO: add reveal this button prior showing bin %>
<div id="decrypt-header">
<h1><%= t :show_header %></h1>
</div>

<div id="bin-content">
  <h1><%= t :decrypted_header %>:</h1>
  <span id="bin-id" class="hidden"><%= @bin.id %></span>
  <textarea id="dec-msg" readonly rows="20" cols="40"></textarea>
  <p><%= t :deleted_info %></p>
</div>

<p id="reveal-content">
  <%= t :reveal_info %>:
  <button id="revealbutton"><%= t :reveal_label %></button>
</p>
<script src="/javascripts/decrypt.js"></script>
