<%# TODO: add reveal this button prior showing bin %>
<div id="decrypt-header">
<h1><%= t :show_header %></h1>
</div>

<div id="bin-content">
  <h1><%= t :decrypted_header %>:</h1>
  <span id="bin-id" class="hidden"><%= @bin.id %></span>
  <textarea id="dec-msg" readonly rows="20" cols="40"></textarea>
  <p><%= t :deleted_info %></p>
</div>

<div id="reveal-content">
<% if @bin.has_password %>
  <div id="pw-enter">
  <p>
    <%= t :additional_password_info %>
  </p>
  <div id="pwenterset">
    <input id="passwd" type="text" name="passwd" class="textinput" placeholder="Enter password">
    <button id="revealpwbutton" disabled><%= t :unlock_label %></button>
  </div>
  </div>
<% else %>
  <%= t :reveal_info %>:
  <button id="revealbutton"><%= t :reveal_label %></button>
<% end %>
</div>
<script src="<%= javascript_path 'decrypt' %>"></script>
